@model MyCinemaApp.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!--MoviesId-->
            <div class="form-group">
                <label asp-for="MoviesId" class="control-label"></label>
                <select asp-for="MoviesId" class="form-control" asp-items="ViewBag.MoviesId"></select>
                <span asp-validation-for="MoviesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoviesName" class="control-label"></label>
                <select asp-for="MoviesName" class="form-control" asp-items="ViewBag.MoviesName"></select>
                <span asp-validation-for="MoviesName" class="text-danger"></span>
            </div>
            <!--CinemasId-->
            <div class="form-group">
                <label asp-for="CinemasId" class="control-label"></label>
                <select asp-for="CinemasId" class="form-control" asp-items="ViewBag.CinemasId"></select>
                <span asp-validation-for="CinemasId" class="text-danger"></span>
            </div>
            <!--CustomersId-->
            <div class="form-group">
                <label asp-for="CustomersId" class="control-label"></label>
                <select asp-for="CustomersId" class="form-control" asp-items="ViewBag.CustomersId"></select>
                <span asp-validation-for="CustomersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfSeats" class="control-label"></label>
                <input asp-for="NumberOfSeats" class="form-control" />
                <span asp-validation-for="NumberOfSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
